
@using System.Configuration
@{string ControllerName = "";}
<div class="memberBlock">
	<div class="member">
		<div class="profile">
			<a href="">
				<span>會員您好</span>
			</a>
		</div>
		<div>
			<a href="" class="order">
				<span>會員訂單查詢</span>
			</a>
		</div>
		<div>
			<a href="" class="active">
				<span>會員點數管理</span>
			</a>
		</div>
		<div>
			<a href="" class="coupon">
				<span>折扣碼專區</span>
			</a>
		</div>
		<div>
			<a href="" class="order">
				<span>會員訂單查詢</span>
			</a>
		</div>
		<div>
			<a href="" class="favorite">
				<span>我的收藏</span>
			</a>
		</div>
		<div>
			<a href="" class="friendsinfo">
				<span>常用旅客名單</span>
			</a>
		</div>
		<div>
			<a href="" class="profile">
				<span>會員帳號管理</span>
			</a>
		</div>
		<div>
			<a href="">
				<span>會員服務</span>
			</a>
		</div>
		<div>
			<a href="">
				<span>回首頁</span>
			</a>
		</div>
	</div>
	<div class="downloadApp">
		<div>
			<a href="https://info.liontravel.com/category/zh-tw/app/appdownload" target="_blank"><span>下載APP</span></a>
		</div>
	</div>
</div>